name: Go-test
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22.x'

      - name: Build
        run: go build -v ./...
      - name: Test with the Go CLI
        run: go test ./...

      - name: Install staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@latest
      - name: Run staticcheck
        run: staticcheck ./...

      - name: Install gofumpt
        run: go install mvdan.cc/gofumpt@latest
      - name: Run gofumpt
        run: gofumpt -l -extra .
